.lazypt-button-container {
  position: absolute;
  top: 30px;
  right: 0px;
  display: flex;
  flex-direction: column;
  width: 105px;
  padding: 4px;
  margin-right: 8px;

  p {
    line-height: 12px;
  }

  button {
    line-height: 26px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
}
