$light-color: #ffffff;
$neutral-color: #5081b2;

body {
  width: 256px;
  header {
    padding: 8px;
    h1 {
      margin: 4px;
    }
  }
  button {
    background-color: $neutral-color;
    margin-left: 8px;
    color: $light-color;
    border-radius: 3px;
    border-width: 0px;
    font-size: 14px;
    padding: 4px 8px;
    position: relative;
    text-decoration: none;
    font-family: "open-sans", sans-serif, AppleEmoji, SegoeUIEmoji, EmojiOne;
    letter-spacing: -0.2px;
  }
}


